# Lectura de los datos

In [100]:
#PrimerPortafolio
import pandas as pd
audible=pd.read_csv('audible_uncleaned.csv')
audible.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87489 entries, 0 to 87488
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         87489 non-null  object
 1   author       87489 non-null  object
 2   narrator     87489 non-null  object
 3   time         87489 non-null  object
 4   releasedate  87489 non-null  object
 5   language     87489 non-null  object
 6   stars        87489 non-null  object
 7   price        87489 non-null  object
dtypes: object(8)
memory usage: 5.3+ MB

In [101]:
#Explorando la columna name
audible.author.value_counts()

Writtenby:矢島雅弘,石橋遊                                              874
Writtenby:SmartReading                                          405
Writtenby:中西貴之,BJ                                               311
Writtenby:div.                                                  274
Writtenby:OnlineStudioProductions                               212
                                                               ...
Writtenby:AlessandroGoglio,AndreaGoldstein                        1
Writtenby:DianaThomas,StaceyBoyle                                 1
Writtenby:KarieWillyerd,BarbaraMistick,JosephGrenny-foreword      1
Writtenby:FrancesKay                                              1
Writtenby:StephenO'Shea                                           1
Name: author, Length: 48374, dtype: int64

In [102]:
listanarradores=[]
listaid=[]

for i in audible.index:
    for autor in audible.author[i].split('Writtenby:')[1].split(','):
        listanarradores.append(autor)
        listaid.append(i)

df_autoresxaudible=pd.DataFrame(zip(listaid,listanarradores),columns=['idAudible','nombreAutor'])
df_autoresxaudible.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104346 entries, 0 to 104345
Data columns (total 2 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   idAudible    104346 non-null  int64
 1   nombreAutor  104346 non-null  object
dtypes: int64(1), object(1)
memory usage: 1.6+ MB

In [103]:
audible.narrator.value_counts()

Narratedby:anonymous                      1034
Narratedby:矢島雅弘,石橋遊                        874
Narratedby:Intuitive                       465
Narratedby:uncredited                      326
Narratedby:中西貴之,BJ                         311
                                          ...
Narratedby:HannahB.                          1
Narratedby:DavidSimonM.D.,DeepakChopra       1
Narratedby:CorinneZupko                      1
Narratedby:SandraIngerman                    1
Narratedby:ChrisStewart                      1
Name: narrator, Length: 29717, dtype: int64

In [104]:
listanarradores=[]
listaid=[]

for i in audible.index:
    for autor in audible.narrator[i].split('Narratedby:')[1].split(','):
        listanarradores.append(autor)
        listaid.append(i)

df_narradorxaudible=pd.DataFrame(zip(listaid,listanarradores),columns=['idAudible','nombreNarrador'])
df_narradorxaudible.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103761 entries, 0 to 103760
Data columns (total 2 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   idAudible       103761 non-null  int64
 1   nombreNarrador  103761 non-null  object
dtypes: int64(1), object(1)
memory usage: 1.6+ MB

In [105]:
audible.time.value_counts()

2 mins                372
6 mins                369
5 mins                369
7 mins                356
4 mins                347
                     ...
32 hrs and 16 mins      1
41 hrs and 16 mins      1
35 hrs and 48 mins      1
30 hrs and 15 mins      1
24 hrs and 4 mins       1
Name: time, Length: 2284, dtype: int64

In [106]:
print(audible.time[5])
td = pd.to_timedelta(audible.time[5].replace('s','').replace(' and ',' '))
td

10 hrs and 35 mins

Timedelta('0 days 10:35:00')

In [107]:
import re
duraciones=[]

for i in audible.index:
    try:
        basicstars=audible.time[i].replace('s','')
        if re.match('(\d+)\s*hr\s*and\s*(\d+)\s*min',basicstars)!=None:
            m=re.match('(\d+)\s*hr\s*and\s*(\d+)\s*min',basicstars)
            duraciones.append(pd.Timedelta(hours=int(m.group(1)),minutes=int(m.group(2))))
        elif re.match('(\d+)\s*min',basicstars)!=None:
            m=re.match('(\d+)\s*min',basicstars)
            duraciones.append(pd.Timedelta(minutes=int(m.group(1))))
        elif re.match('(\d+)\s*hr',basicstars)!=None:
            m=re.match('(\d+)\s*hr',basicstars)
            duraciones.append(pd.Timedelta(hours=int(m.group(1))))
        elif basicstars=='Le than 1 minute':
            duraciones.append(pd.Timedelta(seconds=59))
        else:
            print(audible.time[i])
    except:
        duraciones.append(0)
        print(audible.time[i])

audible['duraciones']=duraciones

In [108]:
audible['duraciones'].value_counts()

0 days 00:02:00    372
0 days 00:06:00    369
0 days 00:05:00    369
0 days 00:07:00    356
0 days 00:04:00    347
                  ...
1 days 08:16:00      1
1 days 17:16:00      1
1 days 11:48:00      1
1 days 06:15:00      1
1 days 00:04:00      1
Name: duraciones, Length: 2284, dtype: int64

In [109]:
audible['daterelease']=pd.to_datetime(audible.releasedate)
audible[['releasedate','daterelease']]

      releasedate daterelease
0        04-08-08  2008-04-08
1        01-05-18  2018-01-05
2        06-11-20  2020-06-11
3        05-10-21  2021-05-10
4        13-01-10  2010-01-13
...           ...         ...
87484    09-03-17  2017-09-03
87485    21-02-17  2017-02-21
87486    30-12-16  2016-12-30
87487    23-02-11  2011-02-23
87488    07-03-17  2017-07-03

[87489 rows x 2 columns]

In [110]:
audible.language.value_counts()

English             61884
german               8295
spanish              3496
japanese             3167
italian              2694
french               2386
russian              1804
danish                935
portuguese            526
swedish               515
Hindi                 436
polish                224
finnish               197
dutch                 190
tamil                 161
catalan               153
mandarin_chinese       97
icelandic              52
romanian               50
hungarian              36
urdu                   34
afrikaans              28
czech                  23
turkish                20
greek                  18
arabic                 16
norwegian              16
galician               10
bulgarian               9
korean                  4
slovene                 4
hebrew                  2
basque                  2
telugu                  2
lithuanian              2
ukrainian               1
Name: language, dtype: int64

In [111]:
audible.stars.value_counts()

Not rated yet                    72417
5 out of 5 stars1 rating          3739
4 out of 5 stars1 rating          1254
5 out of 5 stars2 ratings          998
4.5 out of 5 stars2 ratings        661
                                 ...
3.5 out of 5 stars61 ratings         1
5 out of 5 stars321 ratings          1
5 out of 5 stars93 ratings           1
4.5 out of 5 stars747 ratings        1
4 out of 5 stars76 ratings           1
Name: stars, Length: 665, dtype: int64

In [120]:
import re
import numpy as np
estrellascalificadas=[]
#estrellasmaximas=[]
totalcalificaciones=[]

for i in audible.index:
    try:
        basicstars=audible.stars[i].replace('ratings','rating')
        if re.match('(\d+(\.\d+)?)\s*out of\s*5\s*stars(\d+)\s*rating',basicstars)!=None:
            m=re.match('(\d+(\.\d+)?)\s*out of\s*5\s*stars(\d+)\s*rating',basicstars)
            estrellascalificadas.append(float(m.group(1)))
            #estrellasmaximas.append(float(m.group(2)))
            totalcalificaciones.append(float(m.group(3)))
        elif re.match('(\d+(\.\d+)?)\s*out of\s*5\s*stars([\d,]+)\s*rating',basicstars)!=None:
            m=re.match('(\d+(\.\d+)?)\s*out of\s*5\s*stars([\d,]+)\s*rating',basicstars)
            estrellascalificadas.append(float(m.group(1)))
            #estrellasmaximas.append(float(m.group(2)))
            totalcalificaciones.append(float(m.group(3).replace(',','')))
        elif basicstars=='Not rated yet':
            estrellascalificadas.append(np.nan)
            #estrellasmaximas.append(np.nan)
            totalcalificaciones.append(np.nan)
        else:
            print(audible.stars[i])
    except:
        estrellascalificadas.append(np.nan)
        #estrellasmaximas.append(np.nan)
        totalcalificaciones.append(np.nan)
        print(audible.stars[i])

audible['estrellascalificadas']=estrellascalificadas
#audible['estrellasmaximas']=estrellasmaximas
audible['totalcalificaciones']=totalcalificaciones

In [121]:
audible[['totalcalificaciones','estrellascalificadas']].describe()

       totalcalificaciones  estrellascalificadas
count         15072.000000           15072.00000
mean             21.613190               4.45694
std             207.479634               0.72394
min               1.000000               1.00000
25%               1.000000               4.00000
50%               2.000000               4.50000
75%               7.000000               5.00000
max           12573.000000               5.00000

In [129]:
audible[audible['totalcalificaciones'].isna()]['stars'].value_counts()

Not rated yet    72417
Name: stars, dtype: int64

In [130]:
audible.price.value_counts()

586.00      5533
668.00      4262
703.00      3588
836.00      2704
820.00      2458
            ...
2,631.00       1
2,764.00       1
895.00         1
364.00         1
544.00         1
Name: price, Length: 1011, dtype: int64